
<div class="card mb-4 box-shadow">
    <img class="card-img-top" src="@Url.Content(ViewBag.drawing.ImageDirectory)" alt="Card image cap">
    <div class="card-body">
        <p class="card-text"> <strong style="font-size: 50px">@ViewBag.drawing.Title</strong></p>
        <a class="nav-link text-dark" style="font-size: 20px"><label >Created by:  </label>@ViewBag.drawing.CreatorId</a>
        <a class="nav-link text-dark" style="font-size: 20px"><label >Owned by:  </label>@ViewBag.drawing.OwnerId</a>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Price</span>
            </div>
            <input type="number" class="form-control" id="price" name="Price" value="@ViewBag.drawing.Price" disabled>
            <input type="button" class="form-control" value="Buy" style="background-color:lightgoldenrodyellow">
        </div>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a asp-action="Like" asp-route-id="@ViewBag.drawing.Id">
                    <button type="button" class="btn btn-sm btn-outline-danger" style="font-size: 20px">Like</button>
                </a>
                <button type="button" class="btn btn-sm btn-danger" disabled style="font-size: 20px">@ViewBag.drawing.TotalLikes</button>
            </div>
            <small class="text-muted" style="font-size: 20px">@ViewBag.drawing.CreationDate.ToString("d")</small>
        </div>
    </div>
    <div class="container my-5 py-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        @foreach (var comment in ViewBag.comments)
                        {
                            <li class="list-group-item">
                                <div class="d-flex flex-start align-items-center">
                                    <img class="shadow-1-strong me-3 rounded"
                                         src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp"
                                         alt="avatar"
                                         width="70"
                                         height="70" />
                                    <div class="col-md-12">
                                        <p class="mt-3 mb-4 pb-2">@comment.Contents</p>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <h6 class="fw-bold text-primary mb-1">@comment.WriterId</h6>
                                    <p class="text-muted small mb-0">@comment.CommentPostDate.ToString("d")</p>
                                </div>
                            </li>
                        }
                    </ul>
                    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
                        <form asp-controller="Comments" asp-action="PostComment" asp-route-drawingPostId="@ViewBag.drawing.Id">
                            <div class="d-flex flex-start w-100">
                                <img class="shadow-1-strong me-3 rounded" src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar"
                                     width="50"
                                     height="50" />
                                <div class="form-outline w-100">
                                    <textarea class="form-control" id="contents" name="Contents" rows="4" style="background: #fff;" placeholder="Write a comment"></textarea>
                                </div>
                            </div>
                            <div class="float-end mt-2 pt-1">
                                <button type="submit" class="btn btn-primary btn-sm">Post comment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>